.startScreen {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	font-family: 'VT323', monospace;
	background: black;
	text-align: center;
	color: white;
}
.start {
	color: black;
	border: none;
}

.start:hover {
	background-color: black;
	color: white;
}

.welcome {
	padding-top: 30%;
}

h3 {
	color: black;
}
body {
	margin: 0px;
}

.scoreboard {
	position: fixed;
	color: white;
	z-index: 200;
}