<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Connor Potebnya</title>
		<link rel="stylesheet" href="../css/meteors.css">
		<link href="https://fonts.googleapis.com/css?family=Syncopate:700" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>
	<h1 class="scoreboard">Score: <span class="score"></span></h1>

	<div class="startScreen">
		<h1 class="welcome">Welcome to Meteors!</h1>
		<h2>Click start to begin</h2>
		<button type="submit" class="start">Start</button>
		<h3></h3>
	</div>
		<script src="https://use.fontawesome.com/4f3b692416.js"></script>
		<script src="../js/script.js"></script>
		<script type="text/javascript" src="../js/game_scripts/p5.min.js"></script>
		<script type="text/javascript" src="../js/game_scripts/p5.play.js"></script>
		<script type="text/javascript" src="../js/game_scripts/p5.sound.js"></script>
		<script type="text/javascript" src="../js/game_scripts/meteors.js"></script>
		<script type="text/javascript" src="../js/game_scripts/ship.js"></script>
		<script type="text/javascript" src="../js/game_scripts/meteorscript.js"></script>
	</body>
</html>